@model finalaspphone.Models.Persona

@{
    ViewBag.Title = "UserNoActivoEspera";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hola espere a que el administrador le active la cuenta</h2>

<div class="row">
    <div class="col-md-1">
        <a class="btn btn-default" href="~/Login/Cerrar" role="button">Cerrar sesion</a>
    </div>
</div>


