@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>2PHONE</h1>
    <p class="lead">2PHOME empresa lider en mensajeria pirata.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Seguridad</h2>
        <p>
            Tenemos la seguridad mas segura de todos. seguramente queras estar aqui.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Estabilidad</h2>
        <p>Nuestros servicios son los mas estables del mercado. No se dara cuenta cuando se quede sin internet.</p>
    </div>
    <div class="col-md-4">
        <h2>Versatiles</h2>
        <p>Ofrecemos soporte para todos los modelos de moviles en el mercado.</p>
    </div>
</div>